{% extends "templates/app.html" %}
{% block title %}Compétitions{% endblock %}
{% block subtitle %}{{ current_user.mail }}{% endblock %}
{% block return %}<a href="/account/logout" class="button big"><span class="material-icons">logout</span></a>{% endblock %}
{% block button %}
<div class="flex row gap">
 <a href="/app/settings" class="button big blue"><span class="material-icons">settings</span></a>
 <a href="/app/new" class="button big green"><span class="material-icons">add</span></a>
</div>
{% endblock %}
{% block main %}Not implemented :({% endblock %}