<link rel="stylesheet" href="/ui/session/styles/ctv.css" />
<link rel="stylesheet" href="/ui/session/styles/item-view.css" />
<script defer src="/ui/session/scripts/ctv.js"></script>
{% if teams is not defined %}
 {% set teams = competition.teams.values() %}
{% endif %}
<ctv>
 <ctv-search>
  <input type="search" placeholder="Rechercher une équipe, un concurrent..." />
 </ctv-search>
 <ctv-main>
  <ctv-list>
   <h4>Équipes</h4>
   {% for team in teams %}
    <ctv-element>
     <ctv-icon>{{ team.category }}{{ team.grade }}</ctv-icon>
     <ctv-content>
      <span>{{ team.name }}</span>
      <span>{{ team.leader.concurrent.name }} - {{ team.members|length }}/4</span>
     </ctv-content>
     <ctv-focus class="no-focus">
      <span class="material-icons">chevron_right</span>
     </ctv-focus>
    </ctv-element>
   {% endfor %}
   <h4>Concurrents</h4>
   {% for team in teams %}
    {% for group in team.members %}
     <ctv-element>
      <ctv-icon>{{ group.dog.category }}{{ group.dog.grade }}</ctv-icon>
      <ctv-content>
       <span>{{ group.concurrent.name }}</span>
       <span>{{ group.dog.name }}</span>
      </ctv-content>
      <ctv-focus>
       <span class="material-icons">chevron_right</span>
      </ctv-focus>
     </ctv-element>
    {% endfor %}
   {% endfor %}
  </ctv-list>
  <ctv-view>
   <ctv-default class="focus">
    <span class="material-icons">person_search</span>
    <h5>Recherchez une équipe, un concurrent...</h5>
    <input type="search" placeholder="Rechercher..." />
   </ctv-default>
   {% for team in teams %}
    <ctv-item>
     <header class="item-header">
      <span class="item-icon">{{ team.category }}{{ team.grade }}</span>
      <div class="item-name">
       <span>{{ team.name }}</span>
       <span>{{ team.leader.concurrent.name }} - {{ team.members|length }} membres sur 4</span>
      </div>
      {% if group.dog.category == team.category and group.dog.grade == team.grade %}
       <button class="button big green">
        <span class="material-icons">group_add</span>
       </button>
      {% else %}
       <button class="button big green dimmed" title="Vous n'êtes pas de la même catégorie et du même grade...">
        <span class="material-icons">group_add</span>
       </button>
      {% endif %}
     </header>
     <h4>Membres de l'équipe</h4>
     <ul class="list">
      {% for member in team.members %}
       <li>
        <div>{{ member.dog.category }}{{ member.dog.grade }}</div>
        <div>
         <span>{{ member.concurrent.name }}</span>
         <span>{{ member.dog.name }}</span>
        </div>
       </li>
      {% endfor %}
     </ul>
    </ctv-item>
   {% endfor %}
   {% for team in teams %}
    {% for group in team.members %}
     <ctv-item>
      <header class="item-header">
       <span class="item-icon">{{ group.dog.category }}{{ group.dog.grade }}</span>
       <div class="item-name">
        <span>{{ group.concurrent.name }}</span>
        <span>{{ group.dog.name }}</span>
       </div>
      </header>
      <h4>Équipe rejointe</h4>
      <ul class="list">
       <li>
        <div>{{ team.category }}{{ team.grade }}</div>
        <div>
         <span>{{ team.name }}</span>
         <span>{{ team.leader.concurrent.name }}</span>
        </div>
       </li>
      </ul>
     </ctv-item>
    {% endfor %}
   {% endfor %}
  </ctv-view>
 </ctv-main>
</ctv>