<!DOCTYPE html>
 <html>
  <head>
   <title>Agility Teams Manager - Connexion</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="/static/style.css" />
   <link rel="manifest" href="/manifest.json" />
  </head>
  <body class="small">
   <header>
    <h1>Agility Teams Manager</h1>
    <h2>Classements par équipe pour sportscanins.fr</h2>
   </header>
   <main>
    <p>
     Un mail a été envoyé à {{ mail_address }}. Si vous ne recevez aucun mail d'ici 5 minutes, contactez nous à l'adresse <a href="mailto:Agility Teams Manager<progesco.teams@gmail.com>?subject=Contact : Mail non reçu&body=Bonjour,%0D%0A%0D%0AJe n'ai pas reçu de mail.%0D%0A%0D%0AMerci pour vos réponses,%0D%0A%0D%0A{{ mail_address }}">progesco.teams@gmail.com</a>
    </p>
   </main>
  </body>
 </html>
<!-- END -->
