@media print {
   @page {
      size: auto;
   }

  * {
      color: black!important;
      background-color: white!important;

  }

   table {
      page-break-inside: auto;
   }
   tr {
      page-break-inside: avoid;
      page-break-after: auto;
   }

   .btn {
      display: none;
   }

   #wrapper {
       padding-top: 0;
   }

   input[type="button"],
   input[type="submit"] {
      display: none;
   }

   .menu-mobile {
      display: none !important;
   }

   #breadcrumps {
      display: none;
   }

   .entete {
      display: none;
   }

   #menu_gauche {
      display: none;
   }

   .footer {
      display: none;
   }

   .partenaires {
      display: none;
   }
}
