{% extends "templates/small.html" %}
{% block title %}Connexion{% endblock %}
{% block subtitle %}Connexion{% endblock %}
{% block main %}
<main>
 <form action="" method="POST">
  <input type="email" placeholder="Adresse mail" name="user" />
  <input type="password" placeholder="Mot de passe" name="password" />
  {% if error is defined %}
   <p class="message">{{ error }}</p>
  {% endif %}
  {% if request.args.get('message', False) %}
   <p>{{ request.args.get('message') }}</p>
  {% endif %}
  <input type="submit" value="Connexion" class="button1" />
  <button formaction="/account/signup" class="button2">S'inscrire</button>
 </form>
 <p><a href="/account/reset">Mot de passe oublié ?</a></p>
</main>
{% endblock %}